<div class="row">
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="text-center">gStudy App</h2>
            <form class="form-horizontal">
                <div class="form-group row">
                    <label for="email" class="control-label col-md-4">Email</label>
                    <div class="col-md-6">
                        <input id="email" type="text" ng-model="user.email" placeholder="email" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="control-label col-md-4">Password:</label>
                    <div class="col-md-6">
                        <input id="password" type="password" ng-model="user.password" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="center-block btn btn-info">Register</button>
                </div>
                <div class="form-group row">
                    <p class="text-center">Already a Member?
                        <a href="#/sigIn">Sign in here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>