<div class="row">
    <div class="container">
        <div class="col-md=-8 col-md-offset-2">
            <h2 class="text-center">
                Create a new Deck
            </h2>
            <h4>Deck Info:</h4>
            <form  ng-submit="addDeck()">
                <fieldset class="form-group col-md-6">
                    <label for="deckQuestion" class="control-label">Name:</label>
                    <input class="form-control" id="deckQuestion" type="text" required ng-model="deck.name" placeholder="name">
                </fieldset>
                <fieldset class="form-group col-md-6">
                    <label for="deckQuestion" class="control-label">Description:</label>
                    <textarea class="form-control" rows="4" id="deckDescription"  required ng-model="decks.description" placeholder="Description of the deck"></textarea>
                </fieldset>
                <div class="form-group">
                    <h4>Cards: </h4>
                </div>
                <fieldset class="col-md-6 form-group">
                    <label for="cQuestion" class="control-label">Question</label>
                    <input id="cQuestion" type="text" required ng-model="cards.questions" class="form-control">
                </fieldset>
                <fieldset class="col-md-6 form-group">
                    <label for="cAnswer" class="control-label">Answer</label>
                    <input id="cAnswer" type="text" class="form-control" ng-model="cards.answers">
                </fieldset>
                <div class="form-group">
                    <p><i class="fa fa-plus-circle" aria-hidden="true"></i>Add another Card
                    </p>
                </div>
                <div class="form-group">
                    <button class="btn btn-info pull-right">Create Deck</button>
                </div>
            </form>
        </div>
    </div>
</div>